body {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

.nav-conteiner {
    background-color: #FFEE12;
}

/* Hero Section */

#Hero-Section {
    background-image: url("../img/mifoto.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    margin-top: 71px;
    height: 756px;
}

.texto{
    color: #FC02BF;
}
.logo {
    color: #FC02BF;
}

.education{
    background-color: #FFEE12;
    background-size: cover;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Contacto */


@media (max-width: 768px) {
    #Contacto form label {
        font-weight: 400;
    }

    .navbar-brand {
        width: 100px;
    }

}

.portafolio {
    background-color: #FFEE12;
}

.footer {
    background-color: #FC02BF;
}